


/* Main container styling */


.hero-section {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 5%;
}

.hero-title {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  color: #0062cc;
}


/* Title styling */
h3 {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}

.hero-section label{
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type=text] {
  border: 2px solid #0069d9;
  margin-left: 3%;
  margin-right: 2%;
}


/* Card styling */

.card {
  margin-bottom:20%;
  height:"inherit";
  padding-bottom:"10%";
}

.newscard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* margin-bottom: 50px;
  margin-top: 50px; */
  margin-top:10%;
  margin-bottom:10%;
  height: 100%;
  position: relative;
  transition: transform 0.4s ease-out;
  
}

.newscard:hover {
  transform: scale(1.05);
}

.CardButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 2%;
  left: 2%;
  right: 2%;
}
/* ------------------------------------------------------------------------------ */

.card-img, .card-img-top, .card-img-bottom {
  width: 100%;
  height: 180px;
}

/* ------------------------------------------------------------------------------- */

/* Button styling */
.ButtonContainer {
  margin-top: 7%;
  margin-bottom: 4%;
  display: flex;
  justify-content: center;
}

.btn-secondary {
  margin: 0 10px;
  background-color: #343a40;
  border-color: #343a40;
}

.btn-secondary:hover {
  background-color: #212529;
  border-color: #212529;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}



/* @media (max-width: 768px) {
 
  .navbar {
    padding: 10px;
  }
  .container-fluid {
    padding: 10px;
  }

  h1 {
    font-size: 2rem;
  }

  .newscard {
    height: auto;
  }
} */

@media (max-width: 576px) {
  
  h1 {
    font-size: 1.5rem;
  }

  .newscard {
    height: 110%;
  }
  .CardImage{
    align-self: center;
    height: 40%;
    width: 50%;
    margin-bottom: 2%;
  }
  .ButtonContainer{
    bottom: 0%;
    margin-top: 10%;
    margin-bottom: 2%;
  }
}
